﻿@model IEnumerable<EldredBrown.FootballApplicationWeb.Models.ViewModels.SeasonStandingsResultViewModel>

@{
    ViewBag.Title = "Standings";
}

<h2>Standings</h2>

@using (Html.BeginForm())
{
    <p>
        Season: @Html.DropDownList("SeasonID", ViewBag.SelectedSeason as string)
        <input type="submit" value="Filter" />
    </p>
    <p>
        Group by Division: @Html.CheckBox("GroupByDivision", ViewBag.GroupByDivision as string)
        <input type="submit" value="Sort" />
    </p>
}

@{
    string previousConference = String.Empty;
    string previousDivision = String.Empty;
}

<table class="table">
    <tr>
        <th>
            Team
        </th>
        <th style="text-align: right">
            W
        </th>
        <th style="text-align: right">
            L
        </th>
        <th style="text-align: right">
            T
        </th>
        <th style="text-align: right">
            Pct.
        </th>
        <th style="text-align: right">
            PF
        </th>
        <th style="text-align: right">
            PA
        </th>
        <th style="text-align: right">
            AvgPF
        </th>
        <th style="text-align: right">
            AvgPA
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    if (item.Conference != previousConference)
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Conference)
            </th>
        </tr>

        previousConference = item.Conference;
    }
    if ((ViewBag.GroupByDivision == true) && (item.Division != previousDivision))
    {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Division)
            </th>
        </tr>

        previousDivision = item.Division;
    }
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Team)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.Wins)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.Losses)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.Ties)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.WinningPercentage)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.PointsFor)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.PointsAgainst)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.AvgPointsFor)
        </td>
        <td style="text-align: right">
            @Html.DisplayFor(modelItem => item.AvgPointsAgainst)
        </td>
    </tr>
}

</table>
