﻿@model EldredBrown.FootballApplicationWeb.Models.Game

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Season
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.ID)
        </dd>

        <dt>
            Week
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week)
        </dd>

        <dt>
            Guest
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.Name)
        </dd>

        <dt>
            Guest Score
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestScore)
        </dd>

        <dt>
            Host
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host.Name)
        </dd>

        <dt>
            Host Score
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostScore)
        </dd>

        <dt>
            Playoff Game?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPlayoffGame)
        </dd>

        <dt>
            Notes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
