﻿@model EldredBrown.FootballApplicationWeb.Models.Game

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Season
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.ID)
        </dd>

        <dt>
            Week
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Week)
        </dd>

        <dt>
            Guest
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Guest.Name)
        </dd>

        <dt>
            Guest Score
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GuestScore)
        </dd>

        <dt>
            Host
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Host.Name)
        </dd>

        <dt>
            Host Score
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HostScore)
        </dd>

        <dt>
            Playoff Game?
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsPlayoffGame)
        </dd>

        <dt>
            Notes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
