﻿@model IEnumerable<EldredBrown.FootballApplicationWeb.Models.Game>

    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Week)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GuestScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HostScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPlayoffGame)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Guest.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Host.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Loser.Name)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Week)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GuestScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HostScore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsPlayoffGame)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Notes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Guest.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Host.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Winner.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Loser.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
