﻿body {
}

td.TeamPanel{
	text-align: right;
}

td.ButtonPanel{
	text-align: center;
}

label{
	width: 0px;
	font-family: sans-serif;
}

input[type="text"] {
	width: 250px;
}

button{
	height: 25px;
	width: 75px;
}