﻿@model EldredBrown.FootballApplicationWeb.Models.ViewModels.GamePredictionViewModel

@{
    ViewBag.Title = "PredictGame";
}

<h2>PredictGame</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.GuestSeasonID, "Guest Season", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GuestSeasonID", null, htmlAttributes: new { @class = "form-control", @onchange = "document.location.href='/GamePredictor/ApplyFilter?guestSeasonID=' + this.options[this.selectedIndex].value;" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuestName, "Guest", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("GuestName", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.GuestName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GuestScore, "Guest Score", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.GuestScore)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HostSeasonID, "Host Season", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HostSeasonID", null, htmlAttributes: new { @class = "form-control", @onchange = "document.location.href='/GamePredictor/ApplyFilter?hostSeasonID=' + this.options[this.selectedIndex].value;" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.HostName, "Host", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("HostName", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.HostName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HostScore, "Host Score", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(model => model.HostScore)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Calculate Score Prediction" />
            </div>
        </div>
    </div>
}
