﻿@model EldredBrown.FootballApplicationWeb.Models.SeasonTeam

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SeasonTeam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Games)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Games)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Wins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Losses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ties)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ties)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WinningPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinningPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsFor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsFor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PointsAgainst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsAgainst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PythagoreanWins)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PythagoreanWins)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PythagoreanLosses)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PythagoreanLosses)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffensiveAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffensiveAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffensiveFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffensiveFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OffensiveIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffensiveIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefensiveAverage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefensiveAverage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefensiveFactor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefensiveFactor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DefensiveIndex)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefensiveIndex)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FinalPythagoreanWinningPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalPythagoreanWinningPercentage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Season.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.League.LongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League.LongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Conference.LongName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conference.LongName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Division.LeagueName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.LeagueName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
