﻿@model EldredBrown.FootballApplicationWeb.Models.SeasonTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Season
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Season.ID)
        </dd>

        <dt>
            Team Name
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

        <dt>
            League
        </dt>

        <dd>
            @Html.DisplayFor(model => model.League.Name)
        </dd>

        <dt>
            Conference
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Conference.Name)
        </dd>

        <dt>
            Division
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Division.Name)
        </dd>

        <dt>
            Games
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Games)
        </dd>

        <dt>
            Wins
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Wins)
        </dd>

        <dt>
            Losses
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Losses)
        </dd>

        <dt>
            Ties
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ties)
        </dd>

        <dt>
            Winning Percentage
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WinningPercentage)
        </dd>

        <dt>
            Points Scored
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsFor)
        </dd>

        <dt>
            Points Allowed
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PointsAgainst)
        </dd>

        <dt>
            Pythagorean Wins
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PythagoreanWins)
        </dd>

        <dt>
            Pythagorean Losses
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PythagoreanLosses)
        </dd>

        <dt>
            Offensive Average
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffensiveAverage)
        </dd>

        <dt>
            Offensive Factor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffensiveFactor)
        </dd>

        <dt>
            Offensive Index
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OffensiveIndex)
        </dd>

        <dt>
            Defensive Average
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefensiveAverage)
        </dd>

        <dt>
            Defensive Factor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefensiveFactor)
        </dd>

        <dt>
            Defensive Index
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DefensiveIndex)
        </dd>

        <dt>
            Final Pyth Win Pct.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FinalPythagoreanWinningPercentage)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Team Schedule Profile</th>
                </tr>
                @foreach (var item in Model.Enrollments)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Course.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Grade)
                        </td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
