﻿@model IEnumerable<EldredBrown.FootballApplicationWeb.Models.SeasonTeam>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

@using (Html.BeginForm())
{
    <p>
        Season: @Html.DropDownList("SeasonID", ViewBag.CurrentFilter as string)
        <input type="submit" value="Filter" />
    </p> 
}
<table class="table">
    <tr>
        <th>
            Season
        </th>
        <th>
            @Html.ActionLink("Team", "Index", new { sortOrder = ViewBag.TeamSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("W", "Index", new { sortOrder = ViewBag.WinsSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("L", "Index", new { sortOrder = ViewBag.LossesSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("T", "Index", new { sortOrder = ViewBag.TiesSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("Pct.", "Index", new { sortOrder = ViewBag.WinningPercentageSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PF", "Index", new { sortOrder = ViewBag.PointsForSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PA", "Index", new { sortOrder = ViewBag.PointsAgainstSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PythW", "Index", new { sortOrder = ViewBag.PythagoreanWinsSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th>
            @Html.ActionLink("PythL", "Index", new { sortOrder = ViewBag.PythagoreanLossesSortParm, seasonID = ViewBag.CurrentFilter })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Team.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ties)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WinningPercentage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointsAgainst)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PythagoreanWins)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PythagoreanLosses)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { seasonID = item.Season.ID, teamName = item.Team.Name })
            </td>
        </tr>
    }

</table>
