﻿@model IEnumerable<EldredBrown.FootballApplicationWeb.Models.ViewModels.TeamSeasonViewModel>

@{
    ViewBag.Title = "Teams";
}

<h2>Teams</h2>

@using (Html.BeginForm())
{
    <p>
        Season: @Html.DropDownList("SeasonID")
        <input type="submit" value="Filter" />
    </p> 
    <p>
        <input type="button" value="Weekly Update" onclick="location.href='@Url.Action("UpdateRankings", "TeamSeasons")'" />
    </p> 
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Team", "Index", new { sortOrder = ViewBag.TeamSortParm })
        </th>
        <th>
            Season
        </th>
        <th style="text-align: right">
            @Html.ActionLink("W", "Index", new { sortOrder = ViewBag.WinsSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("L", "Index", new { sortOrder = ViewBag.LossesSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("T", "Index", new { sortOrder = ViewBag.TiesSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("Pct.", "Index", new { sortOrder = ViewBag.WinningPercentageSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("PF", "Index", new { sortOrder = ViewBag.PointsForSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("PA", "Index", new { sortOrder = ViewBag.PointsAgainstSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("PythW", "Index", new { sortOrder = ViewBag.PythagoreanWinsSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("PythL", "Index", new { sortOrder = ViewBag.PythagoreanLossesSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("OffAvg", "Index", new { sortOrder = ViewBag.OffensiveAverageSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("OffFactor", "Index", new { sortOrder = ViewBag.OffensiveFactorSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("OffIndex", "Index", new { sortOrder = ViewBag.OffensiveIndexSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("DefAvg", "Index", new { sortOrder = ViewBag.DefensiveAverageSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("DefFactor", "Index", new { sortOrder = ViewBag.DefensiveFactorSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("DefIndex", "Index", new { sortOrder = ViewBag.DefensiveIndexSortParm })
        </th>
        <th style="text-align: right">
            @Html.ActionLink("FinPythPct", "Index", new { sortOrder = ViewBag.FinalPythagoreanWinningPercentageSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SeasonID)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.Wins)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.Losses)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.Ties)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.WinningPercentage)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.PointsFor)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.PointsAgainst)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.PythagoreanWins)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.PythagoreanLosses)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.OffensiveAverage)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.OffensiveFactor)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.OffensiveIndex)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.DefensiveAverage)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.DefensiveFactor)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.DefensiveIndex)
            </td>
            <td style="text-align: right">
                @Html.DisplayFor(modelItem => item.FinalPythagoreanWinningPercentage)
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { teamName = item.TeamName, seasonID = item.SeasonID })
            </td>
        </tr>
    }
</table>
